<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="theschulk.com.gainztrain"
    android:versionCode="3"
    android:versionName="1.0003">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Database.WorkoutContentProvider"
            android:authorities="com.theschulk.gainztrain.provider"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="theschulk.com.gainztrain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.AddMuscleGroupActivity" />
        <activity android:name=".Activity.AddExerciseActivity" />
        <activity android:name=".Activity.EnterWorkoutActivity" />
        <activity android:name=".Activity.CurrentExerciseDetail" />
        <activity android:name=".Activity.BodyTrackerActivity" />
        <activity android:name=".Activity.CustomWorkoutActivity" />
        <activity android:name=".Activity.HistoryActivity" />

        <service
            android:name=".Activity.GainzTrainService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".Service.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.FirebaseIdClass">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".Activity.GainzTrainWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/gainz_train_widget_info" />
        </receiver>

        <activity android:name=".Activity.CustomWorkoutDetailActivity"></activity>
    </application>

</manifest>